<h1>Your URLockBox</h1>

<div class="link-form well">
  <h3>Add New Link</h3>
  <%= form_for(@link) do |f|  %>
    <div class="form-group">
      <%= f.label :url, "URL" %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :user_id %>
      <%= f.submit "Add Link" %>
    </div>
  <% end %>

</div>

<div class="filters">
  <h3>Filters:</h3>
  <p id="search-filter">By text: <input type="text">
    <button type="button" name="button" class="read-filter btn btn-secondary">Only Read Links</button>
    <button type="button" name="button" class="unread-filter btn btn-secondary">Only Unread Links</button>
    <button type="button" name="button" class="clear-filters btn btn-info">Clear Filters</button>
  </p>
</div>

<hr>

<div class="links row">
  <% @links.each do |link| %>
    <%= render partial: 'links/link', locals: {link: link} %>
  <% end %>

</div>
